body {
    margin: 0;
    color: white;
    font-family: 'Righteous', cursive;
}
.container{
    display: flex;
    /* padding: 3%; */
   flex-direction: column;
   align-items: start;
   background-color: rgb(9, 9, 9);
}
h2 {
    font-size: 50px;
    padding: 0;
    margin: 0;
}
h3 {
    padding: 0;
    font-size: 30px;
    margin: 0;
}
img {
    width: 100px;
}

header{
    width: 100%;
    padding: 2%;
}

header h1{
    margin:0;
    text-align: center;
    font-family: "Impact", sans-serif;
    background: url("https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFydHl8ZW58MHx8MHx8&w=1000&q=80");
    font-size: 10rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #5b728a54;
    animation: move 20s linear infinite;
    letter-spacing: .3rem;
}
@keyframes move {
    from { background-position: 0 80%; }
    to { background-position: 100% 50%; }
}
main{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
main div.portfolio{
    padding: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .landing{
    text-decoration: none;
    color: blueviolet;
    font-size: 60px;
    letter-spacing: 10px;
    transition: 0.5s;
}
main .landing:hover{
    letter-spacing: 5px;
}
main .point{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main img.dot{
    width: 30px;
}
section.soft-skills{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    

}
section.soft-skills img.sign{
    width: 30%;
}
section.soft-skills div.love-hate{
    width: 50%;
    font-size: 40px;
    padding-top: 10%;
}
section.soft-skills div.love-hate p{
   font-size: 40px;
}
footer{
    padding-top: 3%;
    width: 100%;
    display: flex;
   align-items: center;
     flex-direction: column;
    font-size: 30px;
    padding-bottom: 1%;
  
}
footer a{
    transition: 0.5s;
}
footer a:hover {
    letter-spacing: 10px;
}
.container p{
    width: 100%;
    text-align: center;
    font-size: 10px;
}
@media (max-width: 900px){
    section.soft-skills img.sign{
        width: 50%;
    }
}

